.title {
    font-size: 18px;
    line-height: 21px;
    color: #0f3991;
    margin-bottom: 15px;
}
.textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    resize: none;
    font-size: 18px;
}
.btn {
    text-align: center;
}
