.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.title {
    font-size: 18px;
    line-height: 21px;
}
.input {
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    padding: 7px 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.btnContainer {
    display: flex;
    align-items: center;
}
.alarmText {
    margin-left: 15px;
    display: none;
    &.good {
        color: #080;
        display: block;
    }
    &.bad {
        color: #f00;
        display: block;
    }
    &.hidden{
        display: none;
    }
}
